# ── Database ───────────────────────────────────────────────────
CUBEJS_DB_TYPE=postgres
CUBEJS_DB_HOST=localhost
CUBEJS_DB_PORT=5432
CUBEJS_DB_NAME=example
CUBEJS_DB_USER=postgres
CUBEJS_DB_PASS=postgres

# ── Pre-aggregation ────────────────────────────────────────────
CUBEJS_PRE_AGGREGATIONS_SCHEMA=dev_pre_aggregations

# ── Server ─────────────────────────────────────────────────────
CUBEJS_DEV_MODE=true
CUBEJS_WEB_SOCKETS=true
CUBEJS_SCHEMA_PATH=model
CUBEJS_EXTERNAL_DEFAULT=false
CUBEJS_SCHEDULED_REFRESH_DEFAULT=true

# ── Security ───────────────────────────────────────────────────
CUBEJS_API_SECRET=05222880dfb93c7f4adc8554fecb93ed7469fc5274ad9909d23c396d4a55ee058736e54fe1dede9ffab7d8c690c8b311d78cef9d732bbe7ead2ee93d9cd499c7
